<% stats = data.students[locals[:name]] %>
<% scores = { 'danger' => "Missed/Not Submitted", 'warning' => "Incomplete/Late", 'success' => "Satisfactory", 'info' => "Excellent" } %>

<section class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offet-2">
      <h2>Section 4: Eloquent JavaScript</h2>
      <p>Lorem ipsum.</p>
      <hr />
      <% data.eloquent.each do |project, details| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= details.name %></h3>
        </div>
        <div class="panel-body">
          <!-- Expect this description to be enclosed in the necessary elements -->
          <%= details.info %>
          <div class="grades">
            <% if details.grades %>
            <% if stats && stats.eloquent && stats.eloquent[project] %>
            <% details.grades.each do |grade, title| %>
            <% if stats.eloquent[project][grade] && stats.eloquent[project][grade].alert %>
            <div class="alert alert-<%= stats.eloquent[project][grade].alert %>">
              <b><%= title %></b>
              <span class="pull-right"><%= stats.eloquent[project][grade].value || scores[stats.eloquent[project][grade].alert] %></span>
            </div>
            <% else %>
            <div class="well">
              <b><%= title %></b>
              <span class="pull-right">Not yet graded.</span>
            </div>
            <% end %>
            <% end %>
            <% else %>
            <div class="well">Not yet graded.</div>
            <% end %>
            <% else %>
            <div class="well">No grade given.</div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>