<% stats = data.students[locals[:name]] %>
<% scores = { 'danger' => "Missed", 'warning' => "Incomplete/Late", 'success' => "Satisfactory", 'info' => "Excellent" } %>

<section class="container-fluid">
  <div class="row-fluid">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offet-2">
      <h2>Section 3: Projects</h2>
      <p>This section includes all other work that was required during the course of the program, from drills and exercises to large, multi-week collaborative efforts. Not all work had deadlines, and most work was graded (insofar as it was graded at all) on the following scale:</p>
      <ul class="key">
        <li class="alert alert-danger">Not present, not turned in, or not conforming to the parameters of the assignment</li>
        <li class="alert alert-warning">Late or incomplete</li>
        <li class="alert alert-success">On time, present, sufficient, or good</li>
        <li class="alert alert-info">Exceeds expectations, meets stretch goals, or voted MVP by peers</li>
      </ul>
      <hr />
      <% data.projects.each do |project, details| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= details.name %></h3>
        </div>
        <div class="panel-body">
          <!-- Expect this description to be enclosed in the necessary elements -->
          <%= details.info %>
          <div class="grades">
            <% if details.grades %>
            <% if stats && stats.projects && stats.projects[project] %>
            <% details.grades.each do |grade, title| %>
            <% if stats.projects[project][grade] && stats.projects[project][grade].alert %>
            <div class="alert alert-<%= stats.projects[project][grade].alert %>">
              <b><%= title %></b>
              <span class="pull-right"><%= stats.projects[project][grade].value || scores[stats.projects[project][grade].alert] %></span>
            </div>
            <% else %>
            <div class="well">
              <b><%= title %></b>
              <span class="pull-right">Not yet graded.</span>
            </div>
            <% end %>
            <% end %>
            <% else %>
            <div class="well">Not yet graded.</div>
            <% end %>
            <% else %>
            <div class="well">No grade given.</div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>